.header {
    padding: 28vh 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    h1 {
        padding: 30px 0 10px;
        font-size: 70px;
        font-style: Fira-Sans;
        text-shadow: 2px 2px 2px #000000;
    }
    
    h2 {
        font-weight: 300;
        font-size: 35px;
        text-shadow: 2px 2px #000000;
        text-align: center;
    }

}

@media all and (max-width: 640px) {
    .header {
        h1 {
            font-size: 53px;
        }
        h2 {
            font-size: 23px;
            padding: 0 15px;
        }
    }
}
